.title-outter {
    padding: 20px;
    text-align: center;
    background-color: #666633;
    h1 {
        color: white;
    }
}

.title-section {
    margin-bottom: 20px;
    p {
        color: white;
    }
}

.service-cont {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
}

.service-item {
    margin: 15px;
    text-decoration: none; 
    color: inherit; 
    transition: transform 0.3s; 
    h2 {
        margin: 10px 0; 
        color: white;
    }
    img {
        max-width: 100%;
    height: auto; 
    border-radius: 5px; 
    }
}

.service-item:hover {
    transform: scale(1.05); 
}


@media only screen and (max-width: 448px) {

    .title-section {
        padding-top: 80px;
        h1 {
            font-size: 30px;
        }
        p {
            font-size: 14px;
        }
    }

    .service-cont {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        padding-top: 0;
        gap: 20px;
        margin-top: 50px;
    }

    .fall {
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid black;
        border-radius: 10px;
        overflow: hidden;
        background-color: rgb(99, 85, 85);
        width: 160px;
        height: 160px;
    h2 {
        font-size: 15px;
    }
    img {
        width: 120px;
        height: 90px;
        cursor: pointer;
    }
}
}