footer {
    display: flex;
    justify-content: center;
    align-items: center; 
    padding: 20px 20px; 
    background-color: #BDC3C7; 
    flex-wrap: wrap;
}

.footer-cont {
    display: flex;
    align-items: center; 
    img {
        height: 60px;
    }
}

.footer-text {
    text-align: center;
}

@media only screen and (max-width: 448px) {
    footer {
        padding: 0;
    }
    
    .footer-cont {
        img {
            height: 50px;
        }
    }

    .footer-text {
        p {
            font-size: 12px;
        }
    }
}